
/* ------------------------------------------ */
/* BASIC SETUP */
/* ------------------------------------------ */
@font-face {
    font-family: Dusha;
    src: url(../fonts/Dusha_-_FIFA_World_Cup_2018.ttf);
}

*{
  margin: 0;  
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body{
  font-size: 16px;
  font-family: 'Dusha', 'Arial', sans-serif;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("img/russia.jpg");
  background-size: cover; 
  background-position: center;
  height: 100vh;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  color: #fff;
  height:100%;
  position: relative;
}

/* ------------------------------------------ */
/* REUSABLE COMPONENTS */
/* ------------------------------------------ */

.row{
  max-width: 1140px;
  margin: 0 auto;
}

.row:first-of-type{
  margin-top: 60px;
}

/* ------------------------------------------ */
/* HEADER */
/* ------------------------------------------ */

h1{
  color: #D9AB5D;
  text-align: center;
  text-transform: uppercase;
  line-height: 80px;
  letter-spacing: 0.5rem;
}

header{
  height: 80px;
  background-color: rgba(146, 7, 10, 0.61);
}

.logo img{
  height: 80px;
  width: auto;
  float: left;
}

/* ------------------------------------------ */
/* GROUP BOX */
/* ------------------------------------------ */

.group-box{
  border: 1px solid rgba(146, 7, 10, 0.61);
  border-radius: 10px;
  background-color: rgba(217, 171, 93, 0.65);
  color: #001E3E;
  transition: background-color 0.8s;
}


.group-box:hover{
  transform: scale(1.1);
  background-color: rgba(217, 171, 93, 0.96);
}

h2{
  padding-left: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
}

.teams-container{
   padding: 5%;
}

/* ------------------------------------------ */
/* COUNTRY */
/* ------------------------------------------ */

.country{
  display: inline-block;
  width: 100%;
  margin-bottom: 5px;
}

.country img{  
  height: 40px;
  width: 40px;
  
  border-radius: 50px;
}

.country span{ 
  vertical-align: top;
  line-height: 30px;
  margin-left: 15px;
  font-size: 120%;
}

/* ------------------------------------------ */
/* FOOTER */
/* ------------------------------------------ */

footer{
  position: absolute;
  bottom: 0;
  height: 50px;
  background-color: rgba(146, 7, 10, 0.61);
}





